div {
  display: block;
}

input {
  width: 150px;
  height: 20px;
  margin-top: 7px;
}

button {
  color: white;
  background-color: rgb(55, 170, 206);
  width: 170px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.content {
  margin: 5px 0 5px 0;
}